/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 2, 2017, 1:06:25 PM
    Author     : tanujv
*/
/*

Green rgb(28, 184, 65)
Maroon rgb(202, 60, 60);
orange rgb(223, 117, 20);   
light blue rgb(66, 184, 221);
*/
#pane{
    -fx-background-color: white;
}
#pane2{
    -fx-background-color: grey;
}
#label{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: grey;
}

#btnLogin {			
    -fx-graphic: url("../images/checked.png");
    -fx-background-color: rgb(28, 184, 65);
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-border-radius: 8px;
    -fx-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#btnLogin:hover {			
    -fx-background-color: grey;
}

#myTree {
    -fx-font: 12px Tahoma;
    -fx-stroke: #eeeeee;
    -fx-background-color: #0a0a0a;
    -fx-text-fill: #ffffff;
}

#myTree .tree-cell {
    -fx-background-color: #0a0a0a ;
    -fx-text-fill: #ffffff ;
}